<div class="container">
<%= link_to 'Add flat', new_flat_path %>
  <ul>
  <% @flats.each do |flat| %>
    <li>
      <h2><%= flat.name %></h2>
      <h3><%= flat.address %></h3>
      <p><%= flat.description %></p>
      <p><%= flat.price_per_night %></p>
      <p><%= flat.number_of_guests  %></p>
      <p><%= link_to 'More info', flat_path(flat) %>
        <%= link_to 'Edit', edit_flat_path(flat) %>
        <%= link_to 'Delete', flat_path(flat),
        method: :delete,
        data: { confirm: "Are you sure?" } %></p>
    </li>
  <% end %>
  </ul>
</div>
